<div class="news-column">
  <div class="col">

    <!-- FAVORITOS -->
    <div class="header-news-column">
      <p>Favoritos</p>
    </div>

    @if (favoritosList.length === 0) {
    <div class="alert alert-primary">No hay favoritos todavía</div>
    } @else {
    <!-- Ese favoritosList es el que sale en news-column con get -->
    @for (fav of favoritosList; track $index) {
    <div class="card mb-2">
      <div class="row g-0 align-items-center">
        <div class="col-md-4">
          <img 
          [src]="fav.image" 
          class="img-fluid rounded-start" 
          alt="Imagen favorita" 
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5>{{ fav.title }}</h5>
            <p>{{ fav.content }}</p>
          </div>
        </div>
      </div>
    </div>
    }
    }

    <!-- ÚLTIMAS NOTICIAS -->
    <div class="header-news-column mt-4">
      <p>Últimas noticias</p>
    </div>

    @for (item of newsColumn; track $index) {
    <div class="card mb-3 w-100" 
      [ngClass]="{ destacada: item.title.includes('Proyecto') }"
    >
      <div class="row g-0 align-items-center">
        <div class="col-md-4">
          <img 
            [src]="item.image" 
            class="img-fluid rounded-start" 
            alt="Imagen noticia" 
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5>{{ item.title }}</h5>
            <p>{{ item.content }}</p>
            <small>Última actualización: {{ item.date }}</small>
          </div>
        </div>
      </div>
    </div>
    }

    <!-- INSTAGRAM :) -->
    <div class="card-instagram" style="max-width: 540px">
      <div class="row g-0 align-items-center">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <h3 class="card-title">
              ¡SÍGUENOS <br />
              EN INSTAGRAM!
            </h3>
            <p class="card-text">
              Escanea el código QR y forma parte de nuestras experiencias.
            </p>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <img 
            src="assets/qr-instagram.png" 
            class="img-fluid p-3" 
            alt="QR Instagram" 
          />
        </div>
      </div>
    </div>
  </div>
</div>