<div class="news-column">
  <div class="col">
    <div class="header-news-column">
      <p>Últimas noticias</p>
    </div>

    @for (item of newsColumn; track $index) {
    <div
      class="card mb-3 w-100"
      [ngClass]="{ destacada: item.title.includes('Proyecto') }"
      apphighlight="lavender"
    >
      <div class="row g-0 align-items-center">
        <div class="col-md-4">
          <img
            [src]="item.image"
            class="img-fluid rounded-start"
            alt="Imagen noticia"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5>{{ item.title }}</h5>
            <p>{{ item.content }}</p>
            <small>Última actualización: {{ item.date }}</small>
          </div>
        </div>
      </div>
    </div>
    }
    <div class="card-instagram" style="max-width: 540px">
      <div class="row g-0 align-items-center">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <h3 class="card-title">
              ¡SÍGUENOS <br />
              EN INSTAGRAM!
            </h3>
            <p class="card-text">
              Escanea el código QR y forma parte de nuestras experiencias.
            </p>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <img
            src="assets/qr-instagram.png"
            class="img-fluid p-3"
            alt="QR Instagram"
          />
        </div>
      </div>
    </div>

    <h4>Favoritos</h4>
    <ul>
      @for (item of favoritos; track $index) {
      <li>{{ item.title }}</li>
      }
    </ul>
  </div>
</div>
