.header-news-column {
  background-color: #b08bab;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 2px;
  margin-bottom: 15px;
}

.card {
  border: 1px solid #b08bab;
  box-shadow: 2px 2px 5px #b08bab;
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-body h5 {
  font-weight: bold;
  color: #3621a3;
}
.card-body small {
  color: rgb(128, 128, 128);
  font-style: italic;
}
.card-instagram{
  background-color: #FED592;
  margin-top: 50px;
}
.card-title{
  color: #4B30CC;
  font-family:Impact;
  letter-spacing: 1px;
}

.destacada{
  border: 2px solid #3621a3;
  box-shadow: 0 0 10px #3621a3;
} 