.img-container {
  height: 250px;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-title{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.btn {
  background-color: #3e26b0;
  color: white;
  font-weight: bold;
}
.btn:hover, :focus {
  background-color: #5c3def;
}
