<div class="card h-100 shadow-sm text-center">
  <div class="img-container">
    <img [src]="imagen()" alt="Imagen del curso" class="card-img-top">
  </div>
  <div class="card-body d-flex flex-column">
    <h5 class="fw-bold">{{ nombre() }}</h5>
    <p class="card-text fw-semibold">Votos: {{ votos() }}</p>
    <button class="btn mt-auto w-100" (click)="votar()">VOTAR</button>
 
    @if (esGanador()) {
      <span class="badge bg-success mt-2">¡Ganador!</span>
    } @else if (estaEmpatado()) {
      <span class="badge bg-warning mt-2">¡Empatado!</span>
    }
  </div>
</div>
