.news-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 16px;
}

.card {
  
  transition: transform 0.2s ease;
  max-height: 650px;
  padding: 10px 25px; /*espacio interno */
  display: flex;
  flex-direction: column; 
}

.card:hover {
  transform: translateY(-4px);
}

.card-img-top {
  max-height: 450px;
  object-fit: cover;
}
